<div style="margin: 0; padding: 0;">
<style type="text/css">
  @font-face {
    font-family: "Myriad Pro";
    src: font-url("myriadpro/myriadpro.eot");
    src: font-url("myriadpro/myriadpro.eot?#iefix") format("embedded-opentype"),
    font-url("myriadpro/myriadpro.woff") format("woff"),
    font-url("myriadpro/myriadpro.ttf") format("truetype"),
    font-url("myriadpro/myriadpro.svgz") format("svg"),
    font-url("myriadpro/myriadpro.svg") format("svg");
  }

  @font-face {
    font-family: "Segoe UI Light";
    src: font-url("segoeui/segoeuil.eot");
    src: font-url("segoeui/segoeuil.eot?#iefix") format("embedded-opentype"),
    font-url("segoeui/segoeuil.woff") format("woff"),
    font-url("segoeui/segoeuil.ttf") format("truetype"),
    font-url("segoeui/segoeuil.svgz") format("svg"),
    font-url("segoeui/segoeuil.svg") format("svg");
  }
</style>
<div style="font-family: 'Segoe UI Light'; background-color: #111; color:#EEE; text-align: center;">
  <div style="padding: 20px;">
    <img style="width: 200px; height: auto;"
         src="https://s3-ap-southeast-1.amazonaws.com/foodmash-india/assets/logo_hybrid_transparent.png">
  </div>
  <div class="content">
    <div class="title-wrapper">
      <div style="text-align: center; padding: 10px;">
        <img style="display: inline-block; vertical-align: middle; width: 60px; height: auto;" src="https://s3-ap-southeast-1.amazonaws.com/foodmash-india/assets/tick_filled.svg">
        <span style="display: inline-block; vertical-align: middle; font-family: 'Myriad Pro'; font-size: 25px; color: #009900; font-weight: bolder;">Order successfully placed</span>
      </div>
      <div class="title-message">Your order <strong><%= @cart.order_id.upcase %></strong> for <strong>INR <%= @cart.grand_total %></strong> has been received</div>
    </div>
    <div style="text-align: center; padding: 30px;">
      <table style="display: inline-block; font-family: 'Myriad Pro'; padding: 0 10px 10px; text-align: left; max-width: calc(100% - 50px); border-radius: 10px; background-color: #EEE; color: #111;">
        <thead>
        <tr>
          <th style="padding: 10px 10px 0;">Contents</th>
          <th style="padding: 10px 10px 0; text-align: center;">Quantity</th>
          <th style="padding: 10px 10px 0; text-align: right;">Amount (INR)</th>
        </tr>
        <tr style="padding: 0 !important;"> <td colspan="3"><hr style="margin: 0 auto; border-color: #FFF; width: 100%;"></td> </tr>
        </thead>
        <tbody>
        <% @cart.orders.each do |order| %>
            <tr>
              <td style="padding: 10px; vertical-align: top;">
                <div>
                  <div><%= order.product.name %></div>
                  <div style="font-size: 14px;">
                    <% order.order_items.each do |order_item| %>
                        <div class="combo-dish"><%= order_item.quantity %> x <%= order_item.item.name %></div>
                    <% end %>
                  </div>
                </div>
              </td>
              <td style="padding: 10px; vertical-align: top; text-align: center;"><%= order.quantity %></td>
              <td style="padding: 10px; vertical-align: top; text-align: right;"><%= order.total %></td>
            </tr>
        <% end %>
        </tbody>
        <tfoot>
        <tr style="padding: 0 !important;"> <td colspan="3"><hr style="margin: 0 auto; border-color: #FFF; width: 100%;"></td> </tr>
        <tr style="font-weight: bold; color: #005588;">
          <td style="padding: 0 10px; vertical-align: top; padding-top: 10px !important;" colspan="2">Total</td>
          <td style="padding: 0 10px; vertical-align: top; text-align: right; padding-top: 10px !important;"><%= @cart.total %></td>
        </tr>
        <tr>
          <td style="padding: 0 10px; vertical-align: top;" colspan="2">VAT 2%</td>
          <td style="padding: 0 10px; vertical-align: top; text-align: right;"><%= @cart.vat %></td>
        </tr>
        <tr>
          <td style="padding: 0 10px; vertical-align: top;" colspan="2">Delivery Charges</td>
          <td style="padding: 0 10px; vertical-align: top; text-align: right;"><%= @cart.delivery_charge %></td>
        </tr>
        <% if @cart.promo_discount %>
            <tr>
              <td style="padding: 0 10px; vertical-align: top;" colspan="2">Promo Discount</td>
              <td style="padding: 0 10px; vertical-align: top; text-align: right;">- <%= @cart.promo_discount %></td>
            </tr>
        <% end %>
        <% if @cart.mash_cash %>
            <tr>
              <td style="padding: 0 10px; vertical-align: top;" colspan="2">Mash Cash Used</td>
              <td style="padding: 0 10px; vertical-align: top; text-align: right;">- <%= @cart.mash_cash %></td>
            </tr>
        <% end %>
        <tr style="padding: 0 !important;"> <td colspan="3" style="padding: 10px 0 !important"><hr style="margin: 0 auto; border-color: #FFF; width: 100%;"></td> </tr>
        <tr style="font-weight: bold; color: #007700;">
          <td style="padding: 0 10px; vertical-align: top;" colspan="2">Grand Total</td>
          <td style="padding: 0 10px; vertical-align: top; text-align: right;"><%= @cart.grand_total %></td>
        </tr>
        </tfoot>
      </table>
    </div><div style="font-size: 18px; padding-bottom: 15px; padding-top: 25px;">You shall view the order status in <a style="color: #00CCFF; text-decoration: none;" href="http://foodmash.in/customerPanel">Order History</a>
    </div><hr style="border-color: #666 ; width: 90%; margin-bottom: -10px">
    <div style="font-size: 12px; padding: 20px; color: #999;">
      The information contained in this communication is intended solely for the use of the individual or entity to whom it is addressed and others authorized to receive it.&nbsp; This communication may contain confidential or legally privileged information.&nbsp; If you are not the intended recipient, any disclosure, copying, distribution or action taken relying on the contents is prohibited and may be unlawful.&nbsp; If you have received this communication in error, or if you or your employer do not consent to email messages of this kind, please notify us immediately by responding to this email and then delete it from your system.&nbsp; No liability is accepted for any harm that may be caused to your systems or data by this message.&nbsp;
    </div>
  </div>
</div>

</div>